img {
    width: 400px;
   
}

div{
    background-color: bisque;
    border-radius: 4px;
}


h1, h2, h3 {
    text-align: center;
    font-size: 48px;
}

body {
    background-color: beige;
}

button{
    border-radius: 4px;
   background-color: yellow;
   height: 150px;
   width: 800px;
   align-content: center;
   font-size: 48px;
}

